@font-face {
  font-family: "TASA Orbiter";
  src: url("./TASAOrbiterVF.woff2");
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Tasa Orbiter";
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.5;
}

h1,
.center {
  text-align: center;
}

button {
  margin-left: 8px;
  padding: 2px;
  border: 1px solid #fff;
  background-color: #111;
  color: #ccc;
}

.inline {
  margin: 0;
}

.group {
  width: 33%;
  margin-left: 10px;
  margin-right: 10px;
}

.subgroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

.stat-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.push-right {
  margin-right: 10%;
}

.amount {
  font-style: italic;
  /* margin-left: 5%; */
}

.producing {
  font-style: italic;
  margin-top: 0;
  line-height: 0;
}

.grey {
  color: #ccc;
}

.dark-grey {
  color: #777;
}

.glow {
  text-shadow: 0px 1px 8px #ccc;
}
