@font-face {
  font-family: "TASA Orbiter";
  src: url("./TASAOrbiterVF.woff2");
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Tasa Orbiter";
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.5;
}

h1,
.center {
  text-align: center;
}

button {
  border: 1px solid #fff;
  background-color: #111;
  color: #ccc;
}

.inline {
  margin: 0;
}

.tab-bar {
  margin-left: 10%;
  margin-right: 10%;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .tab-button {
    margin-left: 1%;
    margin-right: 1%;
    width: 10%;
  }
}

.tab {
  display: flex;
}

.group {
  flex: 33%;
  margin-left: 10px;
  margin-right: 10px;
}

.right-group {
  text-align: right;
}

.subgroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

.stat-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.push-right {
  margin-right: 10%;
}

.amount {
  font-style: italic;
}

.producing {
  font-style: italic;
  margin-top: 0;
  line-height: 0;
}

.grey {
  color: #ccc;
}

.dark-grey {
  color: #777;
}

.glow {
  text-shadow: 0px 1px 8px #ccc;
}

.hidden {
  visibility: hidden;
}

.disabled {
  border: 1px solid #aaa;
  background-color: #111;
  color: #777;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 1s linear;
  visibility: hidden;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1s linear;
  visibility: visible;
}
